
#wrapper{
    padding: 20px 50px;
    margin: 1.5em 26%;
    text-align: left;
    background-color: rgb(238, 173, 173);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

body{
    font: 100% Verdana, Helvetica, sans-serif;
    color: #555;
    background-color: #edede3;
}

form{
    line-height: 2em;
    padding: 2em 1.5em;
    font-size: 18px;
    background-color: lightskyblue;
}

.formGroup{
    margin-bottom: 0.4em;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
}

button:hover{
    background-color: #45a049;
}

input, select{
    padding: 7px 7px;
    font-size: 15px;
    float: right;
    width: 200px;
    box-sizing: border-box; /*to make the box even by default */
}

h1{
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.total{
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}

.total:before{
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

.total sup{
    font-size: 20px;
    top: -18px;
}

#tipAmount:before{
    content: 'Tip Amount';
}
#totalAmount:before{
    content: 'Final Amount';
}

footer{
    text-align: right;
}